                        <div class="row justify-content-start mb-4" style="width: 115% !important;">
                            <div class="card-body pt-sm-3 pt-0 m-box scrollbar-y text-white" style="border-radius: 25px 25px 25px 0px; background-color: #344767 !important;">
                                <p class="text-sm">hello world asd asd asd ada sd asd asd asd asd sa sa dasds</p>
                                <p>ME</p>
                            </div>
                            <p style="color: black !important;">time</p>
                        </div>

                        <div class="row justify-content-end mb-4" style="width: 115% !important;">
                            <div class="card-body pt-sm-3 pt-0 m-box scrollbar-y text-white" style="border-radius: 25px 25px 0 25px; background-color: #344767 !important;">
                                <p class="text-sm">asd d asd asd asd as as ssa asd asd sad as das sa as a</</p>
                                <p>ADMIN</p>
                            </div>
                            <p style="color: black !important;">time</p>
                        </div>